@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@font-face {
  font-family: "Monument-Regular";
  font-style: "normal";
  font-weight: "normal";
  src: local("MonumentExtended-Regular");
  src: url("../assets/fonts/MonumentExtended-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Monument-Bold";
  font-style: "normal";
  font-weight: "bold";
  src: local("MonumentExtended-Ultrabold");
  src: url("../assets/fonts/MonumentExtended-Ultrabold.woff2") format("woff2");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 74px;
  padding: 12px 20px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: "Monument-Regular";
}

.header__logo strong {
  font-family: "Monument-Bold";
}

.header__user {
  gap: 10px;
  display: flex;
  align-items: center;
}

.header__user-logout {
  background: none;
  border: none;
}

.header__user-logout img {
  cursor: pointer;
}

.header__user-avatar {
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

main {
  margin: 0 auto;
  font-family: 'DM Sans', sans-serif;
  padding-bottom: 60px;
  height: 100%;
  max-width: 1024px;
}

.main__manage-articles {
  display: flex;
  justify-content: center;
  gap: 30px;
  /* border-bottom: 1px solid gray; */
  margin-bottom: 30px;
}

.main__manage-articles button {
  width: 150px;
  cursor: pointer;
}

@media only screen and (max-width: 340px) {
  .header__user-avatar {
    display: none;
  }
}
